<DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Weather Home</title>
<meta name="author" content="Shane Kleinbeck">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/weather-icons.css">
<link rel="stylesheet" href="public/css/styles.css">

</head>
<body>

<div class="container-fluid">
	<div class="row weather-main">
		<div class="col-lg-12">
			<h1></h1>
		</div>
	</div>
	<div class="row seven-day-forecast">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-4 current-day-forecast">
					<div class="row">
						<div class="col-xs-6" id="current-day-left">
							<h1 id="currentTemp"><%= Math.round(data["currently"]["temperature"])%><span class="degree">º</span></h1>
						</div>
						<div class="col-xs-6 current-day-right">
							<i class="wi wi-day-cloudy currentIcon"></i>
							<h5 id="currentWind"><%= Math.round(data["currently"]["windSpeed"])%> mph</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row remaining-days-forecast">
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text"><%= data["daily"]["data"][0]["time"] %></h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text">MON</h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text">MON</h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text">MON</h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text">MON</h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
						<div class="col-xs-2 remaining-day">
							<div class="vmiddle">
								<h5 class="remaining-day-text">MON</h5>
								<i class="wi wi-day-cloudy remaining-day-icon"></i>
								<h5 class="remaining-day-text">80º</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="public/js/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>