body {
  font-family: serif;
  max-height: 100vh;
  height: 100vh;
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #bdc3c7, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #bdc3c7, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.deepshadow {
  color: white;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828; }

.weather-main {
  height: 75vh; }

.seven-day-forecast {
  background: rgba(255, 255, 255, 0.2);
  height: 25vh; }
  .seven-day-forecast .current-day-forecast {
    text-align: center;
    height: 100%; }
    .seven-day-forecast .current-day-forecast #current-day-left {
      height: 100%; }
      .seven-day-forecast .current-day-forecast #current-day-left .vmiddle {
        height: 100%;
        color: white;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 {
          height: 65%;
          position: relative;
          left: 15%; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 #currentTemp {
            position: relative;
            top: 6%;
            font-size: 15vh; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 .degree {
            font-size: .4em;
            position: absolute;
            padding-top: .2em; }
        .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row2 {
          height: 35%;
          position: relative;
          left: 15%; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row2 #currentDay {
            font-size: 2vh;
            position: relative;
            top: 30%; }
    .seven-day-forecast .current-day-forecast .current-day-right {
      height: 100%; }
      .seven-day-forecast .current-day-forecast .current-day-right .vmiddle {
        color: white;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; }
        .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row3 {
          height: 65%;
          position: relative;
          right: 15%; }
          .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row3 #currentIcon {
            font-size: 15vh;
            position: relative;
            top: 15%; }
        .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row4 {
          height: 35%;
          position: relative;
          right: 15%; }
          .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row4 #currentWind {
            font-size: 2vh;
            position: relative;
            top: 30%; }
  .seven-day-forecast .remaining-days-forecast {
    text-align: center;
    height: 100%; }
    .seven-day-forecast .remaining-days-forecast .remaining-day {
      height: 100%;
      border-left: 1px solid #758085; }
      .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle {
        color: white;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-text {
          font-size: .6em; }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-icon {
          padding: .8em 0 .8em 0; }
