body {
  font-family: serif;
  max-height: 100vh;
  height: 100vh; }

.main {
  height: 75vh; }
  .main #cityInput {
    position: absolute;
    left: 5vw;
    top: 5vh;
    background-color: transparent;
    border: none;
    outline: none;
    height: 6vh;
    font-size: 5vh;
    cursor: text;
    font-family: serif; }

.seven-day-forecast {
  text-shadow: 0px 1px 1px #000;
  height: 25vh; }
  .seven-day-forecast .current-day-forecast {
    text-align: center;
    height: 100%; }
    .seven-day-forecast .current-day-forecast #current-day-left {
      height: 100%; }
      .seven-day-forecast .current-day-forecast #current-day-left .vmiddle {
        height: 100%;
        color: black;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 {
          height: 65%;
          position: relative;
          left: 15%; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 #currentTemp {
            position: relative;
            top: 4%;
            font-size: 15vh; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row1 .degree {
            font-size: .4em;
            position: absolute;
            padding-top: .2em; }
        .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row2 {
          height: 35%;
          position: relative;
          left: 15%; }
          .seven-day-forecast .current-day-forecast #current-day-left .vmiddle .day-left-row2 #currentDay {
            font-size: 2vh;
            position: relative;
            top: 30%; }
    .seven-day-forecast .current-day-forecast .current-day-right {
      height: 100%; }
      .seven-day-forecast .current-day-forecast .current-day-right .vmiddle {
        color: black;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%; }
        .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row3 {
          height: 65%;
          position: relative;
          right: 15%; }
          .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row3 #currentIcon {
            font-size: 13vh;
            position: relative;
            top: 15%; }
        .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row4 {
          height: 35%;
          position: relative;
          right: 15%; }
          .seven-day-forecast .current-day-forecast .current-day-right .vmiddle .day-right-row4 #currentWind {
            font-size: 2vh;
            position: relative;
            top: 30%; }
  .seven-day-forecast .remaining-days-forecast {
    text-align: center;
    height: 100%; }
    .seven-day-forecast .remaining-days-forecast .remaining-day {
      height: 100%;
      border-left: 1px solid #5b5b5b; }
      .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle {
        color: black;
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-text {
          font-size: .6em; }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-icon {
          padding: .8em 0 .8em 0; }
