body {
  font-family: serif;
  max-height: 100vh;
  height: 100vh; }

.weather-main {
  background-color: lightblue;
  height: 75vh; }

.seven-day-forecast {
  background-color: lightgreen;
  height: 25vh; }
  .seven-day-forecast .current-day-forecast {
    text-align: center;
    background-color: lightgreen; }
    .seven-day-forecast .current-day-forecast #current-day-left {
      height: 100%; }
      .seven-day-forecast .current-day-forecast #current-day-left #currentTemp {
        font-size: 9em;
        margin-bottom: 0; }
      .seven-day-forecast .current-day-forecast #current-day-left .degree {
        font-size: .4em;
        position: absolute;
        padding-top: .2em; }
      .seven-day-forecast .current-day-forecast #current-day-left #currentDay {
        font-size: 1.5em;
        margin-top: 0;
        position: relative; }
    .seven-day-forecast .current-day-forecast .current-day-right {
      height: 100%; }
      .seven-day-forecast .current-day-forecast .current-day-right .currentIcon {
        font-size: 6.5em;
        position: relative;
        margin-bottom: 0;
        padding-top: .6em;
        overflow: hidden; }
      .seven-day-forecast .current-day-forecast .current-day-right #currentWind {
        font-size: 1.5em;
        margin-top: .5em;
        position: relative; }
  .seven-day-forecast .remaining-days-forecast {
    text-align: center;
    height: 100%; }
    .seven-day-forecast .remaining-days-forecast .remaining-day {
      height: 100%;
      background-color: orange;
      border-left: 1px solid #7f0000;
      border-left: 1px solid rgba(255, 0, 0, 0);
      -webkit-background-clip: padding-box;
      /* for Safari */
      background-clip: padding-box;
      /* for IE9+, Firefox 4+, Opera, Chrome */ }
      .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle {
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-text {
          font-size: .6em; }
        .seven-day-forecast .remaining-days-forecast .remaining-day .vmiddle .remaining-day-icon {
          padding: .8em 0 .8em 0; }
